@import "../vendor/libs";

@font-face {
    font-family: 'Mirra';
    src: url('../../fonts/Mirra.otf');
}


.wrapper-img {
    position: relative;
    cursor: pointer;
}

.wrapper-img::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 99.2%;
    background: rgba(48, 47, 47, 0.2);

}

.ctInfo {
    &__wrapper-text1 {
        position: absolute;
        text-wrap: wrap;
        right: -30px;
        bottom: 3.125rem;
        color: white;
    }

    &__wrapper-text2 {
        position: absolute;
        text-align: end;
        right: 0.625rem;
        bottom: 3.125rem;
        color: white;
    }

    &__img {
        width: 100%;
        height: 28.125rem;
        object-fit: cover;
    }
}

.cSection-bRow {
    @include xs-block() {
        margin-top: 1.5625rem;
    }

    @include md-block() {
        margin-top: 0;
    }

}

.cbInfo {
    &__img {
        width: 100%;
        height: 12.5rem;
        object-fit: cover;
    }


    &__text {
        color: white;
        font-size: 2.5rem;
        position: absolute;
        right: 1.625rem;
        bottom: 1.5625rem;

        @include xs-block() {
            font-size: 2.5rem;
        }

        @include md-block() {
            font-size: 1.5rem;
        }

        @include xl-block() {
            font-size: 2.5rem;
        }
    }
}


.big-text {
    font-family: 'Mirra';
    font-size: 5.625rem;
    font-weight: 400;

    @include xs-block() {
        font-size: 4.625rem;
    }

    @include md-block() {
        font-size: 3.5rem;
    }

    @include xl-block() {
        font-size: 5.625rem;
    }
}